packages:
  yum:
    git: []
    wget: []
    unzip: []

container_commands:
  01_upgrade_pip:
    command: "/var/app/venv/*/bin/pip install --upgrade pip"
  02_install_chrome:
    command: |
      wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
      echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list
      apt-get update
      apt-get install -y google-chrome-stable
    ignoreErrors: true
