option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    FLASK_ENV: "production"
    FLASK_DEBUG: "False"
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
  aws:ec2:instances:
    InstanceTypes: t3.medium,t3.large
