files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream backend_main {
          server 127.0.0.1:8000;
      }
      
      upstream backend_scrapers {
          server 127.0.0.1:5022;
      }
      
      upstream backend_system {
          server 127.0.0.1:5024;
      }
      
      upstream backend_dashboard {
          server 127.0.0.1:8004;
      }
      
      upstream backend_admin {
          server 127.0.0.1:5025;
      }
      
      server {
          listen 8000;
          location / {
              proxy_pass http://backend_main;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
      
      server {
          listen 5022;
          location / {
              proxy_pass http://backend_scrapers;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
      
      server {
          listen 5024;
          location / {
              proxy_pass http://backend_system;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
      
      server {
          listen 8004;
          location / {
              proxy_pass http://backend_dashboard;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
      
      server {
          listen 5025;
          location / {
              proxy_pass http://backend_admin;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
